#phone {
    #titlebar {
        color:black;
        background-color:black;
        width:inherit;
        height:1.5rem;
        display:flex;
        @media (min-height: 40rem) and (min-width: 25rem) {
            color:white;
        }
        .titlesection:last {
            text-align:right;
        }
        .titlesection {
            flex:1;
            -webkit-flex:1;
            .titleicon {
                padding-left:2px;
                padding-right:2px;
            }
        }
    }
}