#contactslist {
    ul {
        li:first-child {
            border-top:none;
        }
        li {
            padding: 25px;
            border-bottom:grey 1px solid;
            // cursor:pointer;
            #buttons {
                float: right;
                * {
                    padding-right:25px;
                }
                *:last-child {
                    padding-right:0px;
                }
            }
        }
    }
}
