#messagedetail {
    ul {
        li {
            width:100%;
            float:left;
            padding: 0.5rem 0 0.5rem 0;
            input {
                width: 100%;
            }
        }
    }
    .message {
        margin: 0 0.5rem 0 0.5rem;
        width:10rem;
        // margin: 5px 0px 5px 0px;
        padding:0.4rem;
        border-radius:0.6rem;
        box-shadow:rgba(0, 0, 0, 0.54) 0px 2px 3px;
    }
    .message-left {
        background-color:darkgrey;
        color:black;
        float:left;
    }
    .message-right {
        background-color: #27ae60;
        color:white;
        float:right;
    }
}
#messageentry {
    position:absolute;
    bottom:0;
    width:100%;
    padding:0.4rem 0 0.4rem 0;
    background:#95a5a6;
    input {
        float:left;
        width:12rem;
        margin-left:1rem;
        
    }
}
#sendmsgbtn {
    user-select:none;
    cursor:pointer;
    background-color:red;
    float:right;
    margin-right:1rem;
    height:1.3rem;
    width:3rem;
    text-align:center;
    color:white;
}
