#navbar {
    display:flex;
    height:3rem;
    background-color:rgb(107, 199, 255);
    border-bottom: #3498db 1px solid;
    line-height:50px;
    font-size:20px;
    .navsection:first-child {
        padding-left:5px;
        i {
            cursor:pointer;
        }
    }
    .navsection:nth-child(2) {
        flex:2;
    }
    .navsection {
        flex:1;
    }
}