div#navbar
  div.navsection
    a(ui-sref='messagelist')
      i.fa.fa-arrow-left
  div.navsection.aligncenter
    span {{contact.number}}
  div.navsection.alignright
div#messagedetail.content-view
  div#messages.scrollable
    ul
      li(ng-repeat="c in conversation")
        div.message(message="c") {{c.message}}
  div#messageentry
    input#msgbox(type="text" autocomplete="off" ng-model="newmessage")
    div#sendmsgbtn(ng-click="sendmsg(newmessage)")
      i.fa.fa-send-o