div#navbar
  div.navsection
    a(ui-sref='springboard')
      i.fa.fa-arrow-left
  div.navsection.aligncenter
    span Contacts
  div.navsection
div#content.scrollable
  div#contactslist
    ul
      li(ng-repeat="s in contacts")
        span {{s.number}}
        span#buttons
          a(ui-sref="messagesdetail({id:s.id})")
              i.fa.fa-comment
          a(ui-sref="phone({number:s.number})")
            i.fa.fa-phone