div#navbar
  div.navsection
    a(ui-sref='springboard')
      i.fa.fa-arrow-left
  div.navsection.aligncenter
    span Contacts
  div.navsection
div#content.scrollable
  div#contactslist
    ul
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT
      li THIS IS SOME TEXT