div#navbar
  div.navsection
    a(ui-sref='springboard')
      i.fa.fa-arrow-left
  div.navsection.aligncenter
    span Messages
  div.navsection.alignright
    a
      i.fa.fa-plus
div#content.scrollable
  div#messageslist
    ul
      a(ng-repeat="c in conversations" ui-sref="messagesdetail({id:c.Contact.id, Contact:c.Contact.number})")
          li{{c.Contact.number}}<br />{{c.LastMessage}}
            i.fa.fa-arrow-right.alignright