div#navbar
  div.navsection
    a(ui-sref='springboard')
      i.fa.fa-arrow-left
  div.navsection.aligncenter
    span Contacts
  div.navsection.alignright
    i.fa(ng-class="{'fa-times':adding, 'fa-plus':!adding}" ng-click="toggleAdd()")
div#contactslistview.content-view
  #contact-add(ng-show="adding")
    form(name = 'contactForm' ng-submit="addContact()")
      span
        input(type="text" ng-model="number")
      span#confirm-entry
        button(type="submit" ng-disabled="checkForm()")
          i.fa.fa-check-circle-o
  div#contactslist.scrollable(ng-class="{'shorten':adding}")
    ul
      li(ng-repeat="contact in contacts")
        span {{contact.number}}
        span#buttons
          a(ui-sref="messagesdetail({id:contact.id})")
              i.fa.fa-comment
          a(ui-sref="phone({number:contact.number})")
            i.fa.fa-phone
          a(ng-click="deleteContact($index)")
            i.fa.fa-trash