div#springboard
  ul
    a(ui-sref='phone')
      li
        i.fa.fa-phone
        span Phone
    a(ui-sref='messageslist')
      li
        i.fa.fa-comment
        span Messages
    a(ui-sref='contacts')
      li
        i.fa.fa-list
        span Contacts
    li
      i.fa.fa-microphone
      span Record
    li
      i.fa.fa-camera
      span Camera
    li
      i.fa.fa-calendar
      span Calendar
    li
      i.fa.fa-photo
      span Photos
    a(ui-sref='terminal')
      li
        i.fa.fa-user-secret
        span Secret
    li
      a(ui-sref="login")
        i.fa.fa-lock
        span Lock
    li
    li
    li
